html,
body {
    height: 100%;
}

em,
i {
    font-style: normal;
}


/* ==== start 表格样式重置 */

.layui-table th,
.layui-table td {
    text-align: center;
}


/* ==== end 表格样式重置 */


/* ==== start 按钮样式重置 */

.layui-btn-sm {
    width: 64px;
    height: 26px;
    line-height: 24px;
    border-radius: 3px;
    padding: 0;
}

.layui-btn-primary,
.layui-btn-primary:hover {
    border-color: #2681dc;
    color: #2681dc;
}

.layui-btn-normal,
.layui-btn-normal:hover {
    border-color: #2681dc;
    color: #fff;
}


/* ==== end 按钮样式重置 */

.service-manage-container {
    height: 100%;
}


/* ==== start 左侧导航重置 */

.leftside-nav-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 999;
    box-sizing: border-box;
    width: 20%;
    border: 1px solid #f0f0f0;
    background: #f9fdff;
}

.main-title-wrapper {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #f0f0f0;
}

.main-title-wrapper .title {
    float: left;
    font-size: 22px;
}

.main-title-wrapper .nav-manage {
    float: right;
}

.main-title-wrapper .nav-manage i {
    cursor: pointer;
}

.main-title-wrapper .nav-manage .del {
    margin-left: 10px;
    font-size: 28px;
}

.leftside-tree-nav {}

.leftside-tree-nav .nav-item {
    cursor: pointer;
}

.leftside-tree-nav .title {
    height: 32px;
    line-height: 32px;
    position: relative;
    padding-right: 10px;
    padding-left: 20px;
    font-size: 14px;
}

.leftside-tree-nav .title:hover {
    background: #d9e8f7;
    opacity: 0.8;
}

.leftside-tree-nav .title:hover .handle {
    display: block;
}

.leftside-tree-nav .nav-item .title.cur-select,
.leftside-tree-nav .nav-item .title.cur-select:hover {
    background: #d9e8f7;
}

.leftside-tree-nav .nav-item .expanded .layui-nav-more {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.leftside-tree-nav .nav-item .expanded+.nav-child {
    display: block;
}

.leftside-tree-nav .title .layui-nav-more {
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -15px;
}

.leftside-tree-nav .title .handle {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    display: none;
}

.leftside-tree-nav .title .handle i {
    vertical-align: middle;
}

.leftside-tree-nav .nav-child .title .handle .add {
    display: none;
}

.leftside-tree-nav .title .handle .rename {
    margin-right: 10px;
    font-size: 20px;
}

.leftside-tree-nav .nav-item-sub .deal-wrapper,
.leftside-tree-nav .nav-item-sub .rename-box {
    padding-left: 22px;
}

.leftside-tree-nav .deal-wrapper {
    position: relative;
    padding-left: 16px;
    padding-right: 50px;
}

.leftside-tree-nav .rename-box {
    padding-left: 16px;
    height: 32px;
    display: none;
}

.leftside-tree-nav .rename-box input {
    height: 32px;
    width: 100%;
    line-height: 30px;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-top: 0;
    padding: 0 10px;
}

.leftside-tree-nav .nav-child {
    display: none;
}


/* ==== end 左侧导航重置 */


/* ==== start 右侧样式 */

.service-manage-content {
    height: 100%;
    margin-left: 20%;
}

.group-handle-wrapper {
    height: 26px;
}

.group-handle-wrapper .title {
    float: left;
    padding-left: 20px;
    font-size: 14px;
    line-height: 26px;
}

.group-handle-wrapper .group-handle {
    float: right;
    margin-right: 142px;
}

.group-handle-wrapper .group-handle .layui-form-label {
    width: auto;
    padding-right: 0;
}

.group-handle-wrapper .group-handle .addGroup {
    position: relative;
    top: 1px;
    margin-right: 6px;
    vertical-align: top;
}

.service-content-tab-wrapper {
    padding-top: 35px;
}

.layui-table .s-i {
    vertical-align: middle;
}


/* ==== end 右侧样式 */