.s-i{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	overflow: hidden;
    background-image: url(i/sprite.png) !important;
}
.s-i.offlineL{ width:26px; height:26px; background-image: url(i/sprite.png); background-position:-0px -0px; }
.s-i.addGroup{ width:24px; height:23px; background-image: url(i/sprite.png); background-position:-28px -0px; }
.s-i.arrowB12{ width:12px; height:12px; background-image: url(i/sprite.png); background-position:-54px -0px; }
.s-i.arrowB6{ width:6px; height:6px; background-image: url(i/sprite.png); background-position:-80px -0px; }
.s-i.arrowB8{ width:8px; height:8px; background-image: url(i/sprite.png); background-position:-106px -0px; }
.s-i.arrowR8{ width:8px; height:8px; background-image: url(i/sprite.png); background-position:-132px -0px; }
.s-i.checked15{ width:15px; height:15px; background-image: url(i/sprite.png); background-position:-158px -0px; }
.s-i.checked20{ width:20px; height:20px; background-image: url(i/sprite.png); background-position:-184px -0px; }
.s-i.closedModel{ width:10px; height:10px; background-image: url(i/sprite.png); background-position:-210px -0px; }
.s-i.directory{ width:13px; height:10px; background-image: url(i/sprite.png); background-position:-236px -0px; }
.s-i.offline{ width:20px; height:20px; background-image: url(i/sprite.png); background-position:-262px -0px; }
.s-i.online{ width:20px; height:20px; background-image: url(i/sprite.png); background-position:-288px -0px; }
.s-i.pen{ width:20px; height:19px; background-image: url(i/sprite.png); background-position:-314px -0px; }
.s-i.rubbish{ width:20px; height:21px; background-image: url(i/sprite.png); background-position:-340px -0px; }
.s-i.search{ width:13px; height:13px; background-image: url(i/sprite.png); background-position:-366px -0px; }
.s-i.searchAdd{ width:20px; height:20px; background-image: url(i/sprite.png); background-position:-392px -0px; }
.s-i.syAdd{ width:15px; height:15px; background-image: url(i/sprite.png); background-position:-418px -0px; }
.s-i.syJump{ width:14px; height:15px; background-image: url(i/sprite.png); background-position:-444px -0px; }
.s-i.unChecked15{ width:15px; height:15px; background-image: url(i/sprite.png); background-position:-470px -0px; }
.s-i.unChecked20{ width:20px; height:20px; background-image: url(i/sprite.png); background-position:-496px -0px; }