.sy-default-font{font-family: MicrosoftYaHei;font-size: 12px;color: #333333;letter-spacing: 0;line-height: 12px;}
.sy-fluid{position:relative;margin: 0;padding: 0;overflow: hidden;}
.sy-sh{margin-bottom: -2000px;padding-bottom: 2000px;}
.sy-pr{position: relative;}
.sy-pa{position: absolute;}
.sy-fl{float: left;}
.sy-fr{float: right;}
.sy-col-p2{float:left;width: 20%;}
.sy-col-p8{float:left;width: 80%;}
.sy-ver-menu{margin-top:13px;border-right:1px solid #F0F0F0;padding-bottom: 300px}
.sy-ver-menu li{margin-bottom: 3px;}
.sy-ver-menu a{display: block;height:30px;line-height: 30px;text-decoration: none;text-align: center;}
.sy-ver-menu .active{background-color: #D9E8F7;}

/*个人信息*/
.sy-userInfo-center{width: 360px;margin: 30px auto 0;}
.sy-offline-status {position: absolute;bottom: 0;left: 50%;margin-left: -15px;margin-bottom: -15px;}
.sy-userInfo{text-align: center;}
.sy-userInfo-list{margin-top:20px;}
.sy-userInfo-list li{height: 25px;}
.sy-name{width: 140px;text-align: right;}
.sy-val {width: 220px;}
